/* Объявление css-переменных */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-bg-color: #2f303a;
  --primary-button-bg-color: #f5f4fa;
}

/* Свойства всей страницы */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* Сброс всех точек возле элементов списка */
ul {
  list-style: none;
}

/* ШАПКА */
/* Логотип (текст) */
.logo-head {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Навигация по сайту */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Навигация по авторизации */
.auth-nav .link {
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* ТЕЛО */
/* Настройка свойств блока героя */
.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
}

/* Настройка отображения кнопок */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.radio-button {
  color: var(--title-text-color);
  background-color: var(--primary-button-bg-color);
}

.radio-button:hover,
.radio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Настройка свойств секций */
.section {
  color: var(--primary-text-color);
}

.section-title {
  color: var(--title-text-color);
}

/* Настройка секции "Особенности" */
.features {
  color: var(--primary-text-color);
}

.features .title {
  color: var(--title-text-color);
}

/* Настройка секции "Наша команда" */
.our-team {
  color: var(--primary-text-color);
}

.our-team .title {
  color: var(--title-text-color);
}

/* ПОДВАЛ */

.logo-foot {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.adress .link {
  color: var(--primary-white-color);
}

.adress .link-opacity {
  color: rgba(255, 255, 255, 0.6);
}

/* Контент вкладки "Портфолио" */

footer {
  background-color: var(--secondary-bg-color);
}

.filter {
  color: var(--primary-text-color);
}

.filter .title {
  color: var(--title-text-color);
}
